@import '../../colors';

nav {
  a.active {
    .chakra-link {
      border-radius: 0;
      border-bottom: 3.5px solid #171923;
      padding-bottom: 24.2px;
    }
  }
}

.nav-logo {
  width: 100%;
  max-width: 160px;
  min-width: 160px;
  height: auto;
}

@media screen and (max-width: 48em) {
  nav {
    a.active {
      .chakra-link {
        border-radius: 0.375rem;
        border-bottom: none;
        padding-bottom: 4px;
      }
    }
  }
}

@media screen and (max-width: 35em) {
  .nav-logo {
    width: 100%;
    max-width: 110px;
    min-width: 110px;
    height: auto;
  }
  .nav-social {
    display: none !important;
  }
}
